---
layout: default_index
---
	<div class="hero">
		<!-- <img src="img/weeklyrobotics-hero.png" alt="Weekly Robotics">
		<small class="source">Photo by <a href="https://unsplash.com/@umby" target="_blank">Umberto</a> on Unsplash</small> -->
		<p>Weekly Robotics is a technical newsletter with handpicked news, projects (both professional and DIY) related to robotics, drones, space technologies and more. A new issue of the newsletter is published every Monday. </p>
		<div class="read-latest">
			<h4>READ OUR LATEST</h4>
			<span class="read-latest-bubble">
				<a href="#posts">↓</a>
			</span>
		</div>
	</div>

<main class="row-full">
	<section class="newsletter container">
		<div class="row">
			<h3>NEWSLETTER</h3>
		</div>

		<!-- Posts -->
		<div class="row">
			<div class="col-2 d-none d-sm-block"></div>
			<div class="col-sm-12 col-md-8">
				<ul id="posts">
					{% for post in site.posts limit:1 %}
						<li class="post">
							<div class="post-info">
								<h2>
									<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{%if post.header %}{{ post.header }}{% else %}{%if post.idx %}{{ post.title }} #{{ post.idx }}{% else %}{{ post.title }}{% endif %}{% endif %}</a>
								</h2>

								<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i></time>
							</div>

							<p>{{ post.content }}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
</main>
