<header id="header">

  <!-- <a href="#default" class="logo">CompanyLogo</a> -->
  <a href="{{ site.url }}/" class="logo">
    <img src="https://weeklyrobotics.com/img/weekly_robotics.png" style="max-width:120px" vspace="100"
      alt="Weekly Robotics">
  </a>
  <div id="nav-links" class="header-right">
    {% for page in site.pages %}
    {% if page.layout == "page" %}
    <a href="{% if site.baseurl == "/" %}{{ page.url }}{% else %}{{ page.url | prepend: site.baseurl }}{% endif %}"
      title="{{ page.title }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}

    {% include link.html %}
  </div>
</header>
