<header id="header" class="row align-items-center">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="{{ site.url }}/" class="logo">
      <img src="{{ASSET_PATH}}/img/weekly-robotics-logo-blue.png" style="max-width:120px" vspace="100"
      alt="Weekly Robotics">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          {% for page in site.pages %}
            {% if page.layout == "page" %}
              
              <li class="nav-item">
                <a href="{% if site.baseurl == "/" %}{{ page.url }}{% else %}{{ page.url | prepend: site.baseurl }}{% endif %}"
                title="{{ page.title }}{% if page.idx %} #{{ page.idx }}{% endif %}" class="nav-link">{{ page.title }}{% if page.idx %} #{{ page.idx }}{% endif %}</a>
              </li>
              
            {% endif %}
          {% endfor %}
          {% include link.html %}
        </li>
      </ul>
    </div>
  </nav>
</header>
