<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="container">
			<!-- Navigation -->
			{% include menu.html %}
			<!-- Header -->
			{% if site.custom_header == true %}
				{% include header-custom.html %}
			{% else %}
				{% include header.html %}
			{% endif %}
			<!-- Main -->
			<div class="row">
				<div class="col-2 d-none d-sm-block"></div>
				<div class="col-xs-10 col-md-8">
					<!-- Subscribe form-->
					{% include subscribe.html %}

					<!-- Main content -->
					{{ content }}

					<!-- Footer -->
					{% include footer.html %}
					<!-- Script -->
					{% include script.html %}
				</div>
			</div>

		</div>
	</body>
</html>
