<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>
	<div id="wrap">
	  	
	  	<!-- Navigation -->
	  	{% include menu.html %}

      <!-- Header -->
      {% if site.custom_header == true %}
        {% include header-custom.html %}
      {% else %}
        {% include header.html %}
      {% endif %}

      <!-- Subscribe form-->
      {% include subscribe.html %}
    <!-- Main content -->
	  <div id="container">
		  
		<main>

			{{ content }}

	  </main>
        {% include pagination.html %}

	  </div>
	    
	    <!-- Footer -->
	    {% include footer.html %}

	    <!-- Script -->
      {% include script.html %}

	</div>
</body>
</html>
