---
layout: default
---
<article id="post-page">
	<h1>
			{%if page.header %}
				{{ page.header }}
			{% else %}
				{%if page.idx %}
					{{ page.title }} #{{ page.idx }}
				{% else %}
					{{ page.title }}
				{% endif %}
			{% endif %}
		</h1>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}

	</div>
	<div class="PageNavigation">
		{% if page.previous.url %}
			<a class="prev" href="{{page.previous.url}}">&laquo; 
				{%if page.previous.idx %}
					{{ page.previous.title }} #{{ page.previous.idx }}
				{% else %}
					{{ page.previous.title }}
				{% endif %}
			</a>
		{% else %}
		<a class="prev"></a>
		{% endif %}
		{% if page.next.url %}
			<a class="next" href="{{page.next.url}}">
				{%if page.next.idx %}
					{{ page.next.title }} #{{ page.next.idx }}
				{% else %}
					{{ page.next.title }}
				{% endif %}&raquo;</a>
		{% endif %}
	</div>
</article>

