---
layout: default
---
<article id="post-page">
	<h1>
			{%if page.header %}
				{{ page.header }}
			{% else %}
				{{ page.title }}{%if page.idx %} #{{ page.idx }}{% endif %}
			{% endif %}
		</h1>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}

	</div>
	<div class="PageNavigation">
		{% if page.previous.url %}
			<a class="prev" href="{{page.previous.url}}">&laquo; 
				{{ page.previous.title }}{%if page.previous.idx %} #{{ page.previous.idx }}{% endif %}
			</a>
		{% else %}
		<a class="prev"></a>
		{% endif %}
		{% if page.next.url %}
			<a class="next" href="{{page.next.url}}">
				{{ page.next.title }}{%if page.next.idx %} #{{ page.next.idx }}{% endif %}&raquo;</a>
		{% endif %}
	</div>
</article>

